name: Deploy Web App to Staging

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "ios/**"

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: true

env:
  USE_MATERIAL_KOLOR_SUBMODULE: false

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup-java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build web app
        run: ./gradlew :app:composeCompatibilityBrowserDistribution

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: web-app
          path: app/build/dist/composeWebCompatibility/productionExecutable

  deploy:
    name: "Deploy to Staging"
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: web-app
          path: app/build/dist/composeWebCompatibility/productionExecutable

      - name: Deploy to production
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MATERIALKOLOR }}
          channelId: staging
          projectId: materialkolor
